@using OrangeBricks.Web.Models
@model OrangeBricks.Web.Controllers.Viewings.ViewModels.MyViewingsViewModel

@{
    ViewBag.Title = "My Viewings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>Here is a list of your viewings:</p>

@if (Model.HasViewings)
{
    foreach (var property in Model.Viewings)
    {
        <hr />
        <h3>@property.StreetName</h3>
        <p><strong>Property type:</strong> @property.PropertyType</p>
        <p><strong>Number of bedrooms:</strong> @property.NumberOfBedrooms</p>
        <p><strong>Street name:</strong> @property.StreetName</p>

        int viewingCount = @property.Viewings.Count();
        string viewingString = (viewingCount == 1) ? "viewing" : "viewings";

        <p>You currently have @viewingCount @viewingString on this property.</p>

        foreach (var viewing in property.Viewings)
        {
            <hr />
            <div>
                <p><strong>Date Requested: </strong> @viewing.ViewingDate</p>
                <p><strong>Request Made At: </strong> @viewing.CreatedAt.ToLongTimeString() on @viewing.CreatedAt.ToShortDateString()</p>
                <p><strong>Status: </strong> @viewing.Status</p>
            </div>
        }
    }
}
else
{
    <div class="alert alert-info" role="alert">
        You haven't made any viewing requests yet!
    </div>
}