@model OrangeBricks.Web.Controllers.Viewings.ViewModels.ViewingsOnPropertyViewModel

@{
    ViewBag.Title = "Viewing requests on Your Property";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>Here you can see the viewing requests that have been made on your property.</p>

<p><strong>Property type:</strong> @Model.PropertyType</p>
<p><strong>Number of bedrooms:</strong> @Model.NumberOfBedrooms</p>
<p><strong>Street name:</strong> @Model.StreetName</p>

@if (Model.HasViewings)
{
    int viewingCount = @Model.Viewings.Count();
    string requestString = (viewingCount == 1) ? "request" : "requests";
    string areIsString = (viewingCount == 1) ? "is" : "are";

    <p>There @areIsString @Model.Viewings.Count() viewing @requestString on this property...</p>

    foreach (var viewing in Model.Viewings)
    {
        <hr />
        <div>
            <p><strong>Date Requested: </strong> @viewing.ViewingDate</p>
            <p><strong>Request Made At: </strong> @viewing.CreatedAt.ToLongTimeString() on @viewing.CreatedAt.ToShortDateString()</p>
            <p><strong>Status: </strong> @viewing.Status</p>
        </div>

        if (viewing.IsPending)
        {
            using (Html.BeginForm("Accept", "Viewings"))
            {
                @Html.Hidden("PropertyId", Model.PropertyId)
                @Html.Hidden("ViewingId", viewing.Id)
                <p>
                    <input type="submit" class="btn btn-default" value="Accept Request" />
                </p>
            }
            using (Html.BeginForm("Reject", "Viewings"))
            {
                @Html.Hidden("PropertyId", Model.PropertyId)
                @Html.Hidden("ViewingId", viewing.Id)
                <p>
                    <input type="submit" class="btn btn-default" value="Reject Request" />
                </p>
            }
        }
    }
}
else
{
    <div class="alert alert-info" role="alert">
        This property has no viewing requests yet!
    </div>
}