@using OrangeBricks.Web.Models
@model OrangeBricks.Web.Controllers.Offers.ViewModels.MyOffersViewModel

@{
    ViewBag.Title = "My Offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>Here is a list of your offers:</p>

@if (Model.HasOffers)
{
    foreach (var property in Model.Properties)
    {
        <hr />
        <h3>@property.StreetName</h3>
        <p><strong>Property type:</strong> @property.PropertyType</p>
        <p><strong>Number of bedrooms:</strong> @property.NumberOfBedrooms</p>
        <p><strong>Street name:</strong> @property.StreetName</p>

        int offerCount = @property.Offers.Count();
        string offerString = (offerCount == 1) ? "offer" : "offers";

        <p>You currently have @offerCount @offerString on this property.</p>

        foreach (var offer in property.Offers)
        {
            <hr />
            <div>
                <p><strong>Offer Amount: </strong> £@offer.Amount</p>
                <p><strong>Offer Made At: </strong> @offer.CreatedAt.ToLongTimeString() on @offer.CreatedAt.ToShortDateString()</p>
                <p><strong>Status: </strong> @offer.Status</p>
            </div>
        }
    }
}
else
{
    <div class="alert alert-info" role="alert">
        You haven't made an offer yet!
    </div>
}